.summary-container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 8px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    margin-top: 90px;
}

.summary-card {
    background: #fff;
    border-radius: 6px;
    padding: 32px;
}

.summary-last-card-color {
    background: #5ADCA2;
}


.summary-card header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.summary-card strong {
    display: block;
    margin-top: 16px;
    font-size: 24px;    
}
